<html>
				<head>
								<meta charset="UTF-8">
								<title>E-Certificate</title>
								<link rel="stylesheet" type="text/css" href="../styles/main.css"/>
				</head>

				<body>
								<center>
									<div class="logo">
										<img src="../images/logo.png"/>
									</div>

									<div id="title" class="title">Certificate of Participation</div>
										
									<div id="content-section">
										<p class="content">This is to certify that <span class="name">{{ name }}</span> has participated in the <span class="event">{{ event }}</span> organized by <span class="organizer">{{ organizer }}</span> on <span class="date">{{ event_date }}</span> at <span class="venue">{{ venue }}</span>.
										</p>
									</div>

									<div class="signature">
										<img src="../images/signature.png"/>
										<div class="signatory">{{signatory}}</div>
									</div>

								</center>
				</body>
</html>
