body {
	background-image: url("../images/cert-background.png");
	background-size: contain;
	background-repeat: no-repeat;
	/* border: 10px solid black; */
	max-width: 100%;
	height: 96%;
}

.date, .event, .name, .organizer, .venue {
	font-weight: bold;
	text-decoration: underline;
}

.name {
	text-transform: uppercase;
}

.event, .organizer, .venue, .signatory {
	text-transform: capitalize;
}

.title {
	color: darkgoldenrod;
	text-align: center;
	font-size: 4em;
	margin-top: 0.2em;
}

.content {
	width: 70%;
	text-align: center;
	font-size: x-large;
	line-height: 2em;
	padding: 2em;
}

.signature {
	float: right;
	padding-right: 1em;
	margin-right: 8.5em;
	margin-top: 6.5em;
}

.signature img {
	height: 50px;
	width: auto;
}

.logo {
	padding-top: 6em;
	width: 20%;
	/* display: block; */
}

.logo img {
	height: 180px;
	object-fit: cover;
}
